.liContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* width: 60%; */
  flex-wrap: wrap;
}

.productBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 350px;
  left: 435px;
  top: 470px;
  padding: 20px;

  background: #ffffff;

  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
}

.productBox p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  text-align: left;
}

.productBox h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  color: #333333;
  margin: 0;
  text-align: left;
}

.productBox h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #27ae60;
  margin: 0;
  text-align: left;
}

.image {
  background-color: #e7e5e5;
}

@media screen and (min-width: 860px) {
  .liContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 780px;
  }
}
